<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
<div class="alert alert-danger " role="alert">
    <h3 class="alert-heading" style="display: flex; justify-content: center;">Error <%=err.statusCode%></h3>
    <h4 class="alert-heading" style="display: flex; justify-content: center;"> <%=err.message%></h4>
  </div>
</div>
